<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsignorNetStandard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <ConsignorNetStandard.Properties.Settings>
            <setting name="ConsignorNetStandard_no_consignorsupport_www_ShipAdvisorWS"
                serializeAs="String">
                <value>http://www.consignorsupport.no/ShipAdvisor/Main.asmx</value>
            </setting>
        </ConsignorNetStandard.Properties.Settings>
    </applicationSettings>
</configuration>